.overview {
  margin: -15vh 0;
  padding: 15em 0 23em;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6)), url("../img/home/wood.jpg");
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15vw), 0 100%);
  position: relative;
  z-index: -99;

  @include mq-m {
    padding: 15em 0 28em;
  }

  @include mq-d {
    padding: 15em 0 28em;
  }

  @include mq-w {
    margin: -20vh 0;
    padding: 20em 0 30em;
  }

}

.overview-container {
  display: grid;
  width: 70vw;
  margin: 4em auto 0;
  grid-template-columns: 33.333% 33.333% 33.333%;
  grid-gap: 2em;
  align-items: center;
  justify-content: center;

  @include mq-d {
    grid-template-columns: 1fr 1fr;
    width: 80vw;
  }

  @include mq-m {
    grid-template-columns: 1fr;
    img {
      margin: 0 auto;
    }
  }
}

.overview-title {
  width: 80%;
  margin: 1em auto;
}

.text-box {
  width: 80%;
  margin: 1em auto;
  p {
    text-align: center;
  }
  @include mq-m {
    margin: 0 auto;
  }
}

.img-none {
  @include mq-m {
    display: none;
  }
}
