$white: #FFFFFF;
$gray: #2A2D34;
$footer-bg: #2A324B;

$accent1: rgba(237, 106, 90, .6); // pink
$accent1nt: #F5ABA2; // pink not transparent
$accent2: #9DCBBA; // green
$accent2t: rgba(157, 203, 186, .7); // green transparent

$red: #ED6A5A;

$dark-green: #5F7470;
